*.iml
*.log
*.classpath
*.project
.idea/*
.settings
target/*
reports
test-output
.settings/*
lenkins
/jenkins
variables.env
/variables.env

jenkins-infra/variables.env
/jenkins-infra/variables.env
jenkins-infra/jenkins
/jenkins-infra/jenkins
jenkins-infra/target
jenkins-infra/test-output
jenkins-infra/reports
jenkins-infra/.settings
jenkins-infra/.classpath
jenkins-infra/.project
jenkins-infra/velocity.log
jenkins-infra/sql.log
jenkins-infra/application.log
/jenkins-infra/bin
/jenkins-infra/target
/jenkins-infra/.settings/
/jenkins-infra/target/
/jenkins-infra/test-output/
/jenkins-infra/.classpath
/jenkins-infra/.project
/jenkins-infra/reports
/jenkins-infra/.idea

/reports/
application.log
sql.log
/jenkins-infra/jenkins-infra.iml
jenkins-infra/jenkins-infra.iml
/target/
