*.iml
*.log
*.classpath
*.project
.idea/*
.settings
target/*
reports
test-output
.settings/*
lenkins
/jenkins
variables.env
/variables.env

jenkins-pipeline/variables.env
/jenkins-pipeline/variables.env
jenkins-pipeline/jenkins
/jenkins-pipeline/jenkins
jenkins-pipeline/target
jenkins-pipeline/test-output
jenkins-pipeline/reports
jenkins-pipeline/.settings
jenkins-pipeline/.classpath
jenkins-pipeline/.project
jenkins-pipeline/velocity.log
jenkins-pipeline/sql.log
jenkins-pipeline/application.log
/jenkins-pipeline/bin
/jenkins-pipeline/target
/jenkins-pipeline/.settings/
/jenkins-pipeline/target/
/jenkins-pipeline/test-output/
/jenkins-pipeline/.classpath
/jenkins-pipeline/.project
/jenkins-pipeline/reports
/jenkins-pipeline/.idea

/reports/
application.log
sql.log
/jenkins-pipeline/jenkins-pipeline.iml
jenkins-pipeline/jenkins-pipeline.iml
/target/
